<div class="notice"><%= flash[:complete] %></div>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="text-center">
        <h1>welcome to <i class="fas fa-book"></i>Bookers！</h1>
        <p class="top">In <i class="fas fa-book"></i>Bookers,</p>
        </br>
        <p class="top">
          you can share and exchange your opinions , inpressions , and emotions
        </br>
          about various books!
        </p>
        <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">Log in</a>
        <!--<button type="button" class="btn btn-primary btn-block">-->
        <!--%= link_to "Log in",  new_user_session_path %>-->
        <!--</button>-->
        </br>
        <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">Sign Up</a>
        <!--<button type="button" class="btn btn-success btn-block">-->
        <!--%= link_to "Sing up", new_user_registration_path %>-->
        <!--</button>-->
      </div>
      
      <p>CopyRight Infratop.inc</p>
    <div class="col-lg-2"></div>
    
    </div>
  </div>
</div>